
/* Header.css */
/* NavigationMenu.css */

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
  color:gray
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 10px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}
#sidebar {
  grid-area: sidebar;
  height: 100%; /* Set height to 100% of viewport height */
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: fixed; /* Fix the position of the sidebar */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Position it at the left of the viewport */
  z-index: 14; /* Higher z-index to appear above the header */
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.sidebar-list > .sidebar-link {
  text-decoration: none;
  color: #9e9ea4; /* Default color */
}

.sidebar-list > .sidebar-link:hover {
  color: blue; /* Color on hover */
}
.sidebar-list > .icon:hover {
  color: blue; /* Color on hover */
}
.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}
.sidebar-list-item > a:hover {
  color: gray; /* Color on hover */
}
.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}