/* businessQuotes.css */
/* businessQuotes.css */

.page-container {
    display: flex;
    height: 100vh; /* Make sure the container takes the full viewport height */
  }
  
  .menuuu {
    width: 250px;
    background-color: #333; /* Example background color */
    color: #fff; /* Example text color */
  }
  
  .content {
    flex: 1; /* Take up remaining space */
    padding: 20px; /* Add some padding for spacing */
    text-align: center; /* Center align the content */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  
  .content  h1 {
    margin-top: 0; /* Remove default margin */
  }
  