.grid-containerper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100vh;
}

.main-containerper {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  padding-top: 80px; /* Add padding from the top to avoid overlap with the header */
  color: rgba(5, 5, 5, 0.95);
  position: relative; /* Ensure the main container has a stacking context */
  z-index: 100; /* Set a higher z-index than the sidebar */
}

.page-container {
  display: flex;
  height: 100%;
}

.menu {
  width: 250px;
  background-color: #333;
  color: #fff;
  position: fixed; /* Fix the position of the sidebar */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Position it at the left of the viewport */
  bottom: 0; /* Expand it to the bottom of the viewport */
}

.contentper {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(5, 5, 5, 0.95);
  position: relative; /* Ensure the main container has a stacking context */
  z-index: 100; /* Set a higher z-index than the sidebar */
}

.quote-box {
  width: auto; /* Set width to 100% to occupy the available space */
  max-width: fit-content;
  margin: 10px 0; /* Add margin for spacing between message boxes */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px; /* Add padding for better readability */
  box-sizing: border-box; /* Ensure padding is included in the width */

}

.quote-box h2 {
  margin-top: 0;
}

.quote-box ul {
  list-style-type: none;
  padding: 0;
}

.quote-box ul li {
  margin-bottom: 10px;
}
