/* Main Container */
.main-containerper {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(5, 5, 5, 0.95);
  position: relative; /* Ensure the main container has a stacking context */
}

/* Grid Container */
.grid-containerper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'sidebar header' 'sidebar main';
  height: 100vh;
}

/* Cards Container */
.main-cardsper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
  gap: 20px;
  margin: 15px 0;
  padding-top: 40px;
}

/* Card Styling */
.cardeeper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  height: 300px;
  flex-basis: 25%;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s; /* Transition for smooth color change */
}

.cardeeper:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.cardeeper:hover h3 {
  color: blue; /* Change text color of h3 on hover */
}

.cardeeper:hover h1 {
  color: blue; /* Change text color of h1 on hover */
}

.card-innerper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-innerper > .card_iconper {
  font-size: 25px;
}

/* Charts Container */
.chartsper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* Media Queries for Responsive Design */

/* Extra Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
  .grid-containerper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'header' 'main';
  }

  .main-cardsper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 10px;
    margin-bottom: 0;
  }

  .cardeeper {
    height: auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .main-cardsper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 10px;
    margin-bottom: 0;
  }
  .grid-containerper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'header' 'main';
  }
  .cardeeper {
    height: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .main-cardsper {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Adjust as needed */
  }
  .grid-containerper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'header' 'main';
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 993px) {
  .main-cardsper {
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Adjust as needed */
  }
}
