.contentvi {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.contentvi h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.contentvi canvas {
  max-width: 100%;
  height: auto;
}

.grid-containervi {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100vh;
  overflow: hidden;
}

.main-containervi {
  grid-area: main;
  overflow: auto;
  padding: 20px;
  color: rgba(5, 5, 5, 0.95);
  position: relative;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .grid-containervi {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'sidebar';
  }

  .main-containervi {
    padding: 20px;
  }
}
