/* .contentquo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.contentquo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px; /* Add padding to the top */
}

.contentquo h2 {
  margin-bottom: 20px; /* Add margin to the bottom of the h2 element */
  font-size: 24px; /* Adjust the font size */
}

.contentquo canvas {
  max-width: 100%; /* Adjust the width of the canvas as needed */
  height: auto;
}

.grid-containerqu {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
    grid-template-areas:
      'sidebar header'
      'sidebar main';
  height: 100vh;
}

.main-containerqu {
  grid-area: main;
  overflow-y: auto;
  padding-left: 20px;
  color: rgba(5, 5, 5, 0.95);
  position: relative;
}
