/* Base styles */
.aappp-container {
  width: 100%;
  max-width: 6770px;
  margin: 0 auto;
  overflow: hidden;
  border: 0px solid #ccc;
  display: flex;
  justify-content: space-between; /* Adjust alignment */
  padding-bottom: 10px;
  padding-left: 130px;
  padding-top: 30px;
}

.innsurance-types-container {
  width: 30%;
  background-color: #f5f5f5;
  border-radius: 20px;
  height: 400px;
  margin-top: 10px;
}

.insurance-type {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.iicon-container {
  font-size: 1.5rem;
  margin-left: 10px;
}

.nname-ccontainer {
  flex-grow: 1; /* Make the name container grow to fill the available space */
}

.ttype-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc; /* Add border between each type */
  padding: 5px 5px; /* Add padding top and bottom */
  border-radius: 20px;
  background-color: #ccc;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color change */
}

.insurance-type.active .ttype-container {
  background-color: #32a6c4;
  color: #0e0d0d;
}

.ttype-container:hover {
  background-color: #aaa; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.ttype-container:active {
  background-color: #32a6c4; /* Change background color when clicked */
  color: #0e0d0d; /* Change text color when clicked */
}

.ttype-container:focus{
  background-color: #32a6c4; /* Change background color when clicked */
  color: #0e0d0d; /* Change text color when clicked */
}

.type-text {
  width: 30%;
  padding: 2rem;
  background-color: #f5f5f5;
}

.iimggdescc {
  position: relative;
  width: 60%;
  height: 400px;
  margin-right: 100px;
}

.iimggdescc img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.deescription {
  position: absolute;
  bottom: 0; /* Position at the bottom */
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  text-align: center;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .aappp-container {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .innsurance-types-container {
    width: 100%;
    margin-top: 20px;
  }

  .iimggdescc {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }

  .type-text {
    width: 100%;
  }
}
