/* Home.css */

/* .image-slider {
  width: 100%;
  height: 100%;
  max-width: 6770px; 
  margin: 0 auto;
  overflow: hidden; 
  border: 0px solid #ccc; 
  padding-top: 30px;
} */
.image-slider {
  width: 100%;
  height: 100%;
  max-width: 6770px;
  margin: 0 auto;
  overflow: hidden;
  border: 0px solid #ccc;
  /* padding-top: 30px; */
  display: flex;
  justify-content: flex-end; /* Align to the right */
  padding-bottom: 30px;
}
.image-right-container {
  position: relative;
  width: 100%; /* Adjust width as needed */
  display: flex;
  justify-content: flex-end; /* Align to the right */
}

.image-right-container img {
  width: 100%;
	height: 100%; /* Make the image occupy the entire height of the container */
	object-fit: cover;
}
.image-right-container .parallax-image-container {
  width: 100%; /* Set image container width to 100% */
}

.image-right-container .ovverlay {
  width: 100%; /* Set overlay width to 100% */
}
/* .greeen {
  background-color: gray;
} */

.image-slider img {
  width: 100%;
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the entire container */
  transition: transform 0.5s ease; /* Smooth transition effect */
}

.image-slider:hover img {
  transform: scale(1.1);} /* Scale image on hover */


/* Cart container styles */
.cart-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row; /* Stack carts vertically from top to bottom */
  align-items: flex-start; /* Align carts to the left of the page */
  background-color: rgb(255, 242, 242);
}

/* Contact page styles */
.contactPage {
  max-width: 600px;
  margin: 0 auto;
}

/* Parallax image styles */
.parallax-image-container {
  margin-left: 30px;
  position: relative;
  width: 100%;
  height: 100%; /* Adjust height as needed */
  overflow: hidden; /* Hide overflowing content */
}

.parallax-image-container img {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  max-width: none;
}

.ovverlay {
  margin-left: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency as needed */
}

.texte-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Adjust text color as needed */
  width: 60%; /* Adjust width as needed */
  font-size: 2em;
}

.buttoon {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #191a1b;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.buttoon::before,
.buttoon::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: rgba(21, 117, 241, 0.5); /* Transparent dark color */
  transition: width 0.3s ease; /* Smooth transition animation */
}

.buttoon::before {
  left: 50%;
  transform: translateX(-50%);
}

.buttoon::after {
  right: 50%;
  transform: translateX(50%);
}

.buttoon:hover::before {
  width: 0%; /* Shrink the left half of the background color on hover */
}

.buttoon:hover::after {
  width: 0%; /* Shrink the right half of the background color on hover */
}
