/* Home.css */
/* Home.css */
.image-slider {
    width: 100%;
    height: 400px;
    max-width: 6770px; /* Adjust max-width to fit your design */
    margin: 0 auto;
    overflow: hidden; /* Hide overflowing content */
    border: 0px solid #ccc; /* Optional: add border for better visualization */
   
  }
  .greeen{
    background-color: gray;
}
  
  .image-slider img {
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire container */
    transition: transform 0.5s ease; /* Smooth transition effect */
    
  }
 
  .image-slider:hover img {
    transform: scale(1.1); /* Scale image on hover */
  }
/* Home.css */
/* Home.css */
.cart-container {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row; /* Stack carts vertically from top to bottom */
    align-items: flex-start; /* Align carts to the left of the page */
    background-color: rgb(255, 242, 242);
  }
  
  .contactPage {
    max-width: 600px;
    margin: 0 auto;
  }
  /* .home{
    height: 100%;
  } */